.QOverlay {
	background-color: #000000;
	z-index: 9999;
}

.QLoader {
	background-color: #CCCCCC;
	height: 1px;
}

.QAmt {
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:40px;
	font-weight:bold;
	line-height:50px;
	height:50px;
	width:100px;
	margin:-60px 0 0 -50px;
}

.header-bg{
  background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 795px;
}
.timer{
position: absolute;
    top: 200px;
    font-family: unifrakturcook;
}
.logo{
position: absolute;
    top: 10px;
    color: white;
   font-family: AC Filmstrip;
 font-size: 65px;
}
.slogan{
position: absolute;
    top: 300px;
    font-family: AC filmstrip;
    color: white;
    font-size: 60px;

}
